body{
    position: relative;
    overflow: hidden;
}

#scene_div_parent{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(0.03125);
}

#scene_div{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
}
body{
    margin: 0px;
}
#success{
    position: absolute;
    z-index: 100;
    top:50%;
    left:50%;
    font-size: 36;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
#sm{
    position: absolute;
    z-index: 100;
    top:50%;
    left:40%;
    font-size: 24;
    transform: translate(-50%, -50%);
    visibility: visible;
}
#sl{
    position: absolute;
    z-index: 100;
    top:50%;
    left:60%;
    font-size: 24;
    transform: translate(-50%, -50%);
}